/* General Styles*/

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F2E9E4;
}

img {
  width:100%;
  border-radius: 15px;
}

main h2 {
  font-size: 27px;
  font-family: ahoma, Geneva, sans-serif;
  font-weight: 540;
}

main p {
  font-size: 18px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 28px;
}

/* Header */

header {
  background-color: #577590;
  margin-bottom: 50px;
}

header h1{
  margin: 0;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 25px;
  font-size: 48px;
  color: #F2E9E4;
}

/* Groups & Items  (Mobile First) */

hr {border-top: 3px solid #577590 }

.wrapper {
  width: 100%;
}
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.item {
  flex: 1;
  margin: 20px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Lists */

ul {
  list-style-type: none;
}

/* Links */
a:link {
  text-decoration: none;
  background-color:  #577590;
  color: black;
}


a:hover {
  color: #0D1B2A;
}

a:active {
  color: brown;
}

a:visited {
  color: black;
}
/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  article {
    width: 100%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}
